@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./infoTop.css');
@import url('./header.css');
@import url('./slides.css');
@import url('./plans.css');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color-1: #FBDC00;
  --main-color-2: #00235A;
  --secondary-color-1: #FDCF00;
  --secondary-color-2: #403800;
  --secondary-color-3: #2C76AC;
  --scale-gray-1: #ffffff;
  --scale-gray-2: #F9F9F9;
  --scale-gray-25: #bdc6d3;
  --scale-gray-3: #A9A9A9;

  --font: "Montserrat", sans-serif;
}

body {
  font-family: var(--font);
  width: 100%;
  height: 100%;
  display: grid;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 5rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

h1 {
  font-size: 1.8rem;
  color: var(--main-color-2);
  font-weight: 700;
}

.content-space {
  max-width: 87rem;
  flex: 1;
  height: 100%;
  padding: 0 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactWhatsapp {
  background-color: #2DA72F;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: .8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.contactWhatsapp:hover {
  background-color: #3cc43e;
  cursor: pointer;
  transition: .2s;
}

.contactWhatsapp::after {
  padding: .8rem;
  background-color: #2DA72F;
  display: block;
  content: '';
  height: 24px;
  width: 24px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  animation: animationEllipse 3s cubic-bezier(0.355, .4, 0.355, .4) infinite;
}

@keyframes animationEllipse {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  main {
    gap: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .content-space {
    padding: 0 1rem;
  }
}